*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto',sans-serif;
}
html{
    font-size:20px;
}
.container{
    max-width:1100px;
    margin:auto;
    display:flex;
    padding:0 2%;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    padding:0 2%;
}
header h1{
    font-size:3rem;
    color:#d6000d;
    font-style:oblique;
}
header span{
    font-size:3rem;
    color:#000;
}
header nav ul{
   display:flex;
   align-items:center;
   list-style-type:none;
   font-size:0.9rem;
}
header nav li a{
    text-decoration:none;
    color:#000;
    font-size:bold;
    padding:1rem;
}
header nav li a:hover{
    border-bottom:2px solid #333;
}
header nav .button-header a{
    color:#fff;
    background-color:#d6000d;
    padding:0.5rem 2.5rem;
    border-radius:0.5rem;
}
header nav .button-header a:hover{
      color:#ccc;
      background-color:#af000f;
      border:none;
    
}
 /* ====section-chamada ==== */
section.chamada > .container{
    padding:2rem 0;
}
 .chamada-image{
    width:50%;
 }
 .chamada-image img{
    width:90%;
 }
 .chamada-text{
    display:flex;
    flex:1;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    font-weight:bold;
 }
 .chamada-text p{
    font-size:1.5rem;
 }
 .chamada-text h1{
    font-size:3rem;
    color:#d6000d;
    margin:1rem 0;
 }
.chamada-text a{
    text-decoration:none;
    background-color:#d6000d;
    color:#fff;
    padding:0.4rem 3rem;
    border-radius:10px;
}
.chamada-text a:hover{
    background-color:#af000f;
    color:#ccc;
}

/* ====== section-info ======== */
section.info .container{
    flex-direction:column;
}
.info-one{
    width:100%;
    display:flex;
    align-items:center;
}
.info-image{
    width:50%;
}
.info-image img{
    width:90%;
}
.info-one ul{
    flex:1;
    list-style-type:none;
}
.info-one li{
    padding:0.3rem 0;
    font-weight:normal;
}
.info-one li > i{
    color:#d6000d;
    margin-right:0.5rem;
    font-size: 1.5rem;
}
.info-form{
    display:flex;
}
.info-form input{
    width:26%;
    height:45px;
    margin-right:0.5rem;
    padding:10px;
    font-size:0.8rem;
    outline:none;
    border-radius:10px;
    border:1px solid #ccc;
}
input[type=submit]{
    background-color:#d6000d;
    color:#fff;
    cursor:pointer;
}
/* ===== section-depoimento ===== */
section.depoimento > .container{
    justify-content:space-between;
    padding-top:3rem;
    margin:2rem auto;
}
.depoimento-box{
    width:45%;
    background-color:#ccc;
    display:flex;
    border-radius:0.5rem;
}

.depoimento-image{
   width:40%;
   display:flex;
   align-items:center;
   padding-left:0.5rem

}
.depoimento-image .img{
    width:4rem;
    height:4rem;
    border-radius:50%;
    background-color:#d6000d;
}
.depoimento-text{
    padding:0.8rem 1rem;
}
.depoimento-text p{
    margin-top:0.5rem;
    font-size:17px;
}
/* ===== footer ===== */
footer{
    background-color:#000;
    margin-top:3rem;
}
.footer-box{
  padding:2rem 0;
  flex:1;
}
.footer-box h1,
.footer-box h3,
.footer-box p,
.footer-box a{
 margin-bottom:1rem;
 color:#fff;
}
.footer-box i{
    font-size:1.8rem;
    margin-right:0.5rem;
    color:#d6000d;
    cursor:pointer;
}
/* ===== media query ====== */

@media screen and (max-width:768px){
    .container,
    header{
        flex-direction:column;
    }
    header h1{
        margin-bottom:1rem;
    }
    header nav .button-header a{
        display:none;
    }
    .chamada-image,
    .chamada-text{
        width:100%;
        display: flex;
        align-items:center;
    }
    .chamada-image img{
        width:70%;
        margin:1rem auto;
    }
    section.info h3{
        text-align: center;
    }
    .info-one{
        flex-direction: column;
        align-items: center;
    }
    .info-one ul{
        margin:0 auto;
    }
    .info-image{
        width:100%;
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    .info-image img{
        width:70%;
        margin:1rem auto;
    }
    .info-form{
        flex-direction: column;
        align-items:center;
    }
    .info-form input{
        width:40%;
        margin:0.5rem 0;
    }
    .depoimento-box{
        width:95%;
        margin:1rem auto;
    }
    .footer-box:nth-of-type(1){
       text-align: center;
    }

}